@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <a href="/user/login">Login</a>
    <a href="/home/create">Create</a>
    <a href="/home/edit">Edit</a>
    <a href="/home/NoModelBinding">NoModelBinding</a>
    <a href="/home/FormAndQuery">FormAndQuery</a>
    <environment include="Development">
        Development
    </environment>
    <environment include="Production">
        Production
    </environment>
</body>
</html> 